@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Megrim&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400&family=Titillium+Web:wght@700;900&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */

*{margin:0; padding:0;}
ul,li,ol{list-style: none;}
a{text-decoration: none;}
p,span{font-family: 'Quicksand'}
h1,h2,h3{font-family: 'Titillium Web';}

header{width:100%; height: 870px;
    margin:0 auto; display: flex; flex-wrap: wrap; 
    justify-content: center; align-content: space-between;
background-image: url(../img/main4.png), linear-gradient(#262a49 50%,#b8bff0); background-size: 50%;
background-repeat: no-repeat, repeat; background-position-y: 207px, 0px;}



nav{width:100%; height: 60px; background-color: #17161b; margin:0 auto;
display: flex; justify-content: space-between;}
.logo_box{display: flex; align-items: center;}
.logo_bar{width:2px; height: 30px; background-color: #444;}
.logo_box img{width:60%;}
.logo{width:70px; height: 60px; display: flex;
align-items: center; justify-content: center;}
.logo_text{width:150px; height: 60px;
    display: flex;
    align-items: center; justify-content: center;}
.my_box{width:350px; height: 60px;
display: flex; justify-content: space-evenly; align-items: center;}
.my{width:10px; height: 60px; display: flex;
    align-items: center; justify-content: center; position:relative;}
.my img{width:25px;}
.my a{content: ""; width:15px; height: 15px; position:absolute;
background-color: #c252e1; border-radius: 50%; font-size: 12px; top:20px;
color:#fff; text-align: center; line-height: 15px; transition:0.5s ease;}
.my:hover >a{animation-name: over; animation-duration: 0.5s;
animation-fill-mode: both;animation-direction: alternate;}

.my img{z-index: 2; background-color: #17161b;}

@keyframes over{
    0%{top:20px; right:-10px; z-index: 1;}
    50%{top:5px; right:-10px;  z-index: 1;}
    100%{top:12px;  right:-10px; z-index: 3;}
}



.my_button{width:150px; height: 40px; background-color: #fff; 
    position:relative; display: flex; align-items: center; justify-content: center;
overflow: hidden; cursor:pointer;}
    .my_button span{font-weight: 700; color:#c252e1; z-index: 3;}    
.my_button::before{   content:'';
    width:175px; height: 45px; background-color: #c252e1;
    transition:0.3s ease;
transform: translateX(-190px) skew(-45deg);position:absolute;}
.my_button:hover::before{transform: translateX(0px)skew(-45deg);}
.my_button:hover >span{color:#fff;}


.my_tri1{border-top: 10px solid #17161b;
    border-right: 10px solid transparent;  position:absolute;
    top:0px; left:0px;}
.my_tri2{border-bottom: 10px solid #17161b;
    border-left: 10px solid transparent;  position:absolute;
   right:0; bottom:0;}

.logo_box ul{display: flex; align-items: center;}
.logo_box ul li{padding:10px;}
.logo_box ul li a{font-size:13px; color:#999;}


.header_img{width:45%; height: 800px; 
background-image: url(../img/main3.png);
background-size: 400px; background-repeat:no-repeat;
background-position:150px 100px; position:relative;}
.header_img img{width:80%;}

.light{position:absolute; top:0; animation: light1 1.5s linear infinite;}

.header_box{width:500px; height: 800px;}
.header_text{widtH:100%; height:35px; 
     margin:2% 0; display: flex; justify-content: space-between; align-items: center;}
.header_text span{background-color: #000; color:#fff; padding:5px;}
.hea_box h1{font-size: 60px; font-family: 'Titillium Web';color:#fff;}
.hea_box p{margin-top:30px; font-size: 20px; font-family: 'Quicksand'; width:500px;
    color:#ccc;}
.header_text img{width:18px;}
     .video{width:500px; height: 250px;
    position:relative;}
.video_tri1{border-top: 25px solid #262a49;
    border-right: 25px solid transparent;  position:absolute;
    top:0px; left:0px;}
    .video_tri2{border-bottom: 25px solid #262a49;
        border-left: 25px solid transparent;  position:absolute;
       right:0; bottom:0;}
 

.hea_box{width:100%; height: 300px; }
.button{width:250px; height: 70px; background-color: rgb(255, 255, 255);
position:relative; display: flex; justify-content: center; align-items: center;
overflow: hidden; cursor:pointer;}
.main_button_tri1{border-top: 25px solid #8d93bf;
    border-right: 25px solid transparent;  position:absolute;
    top:0px; left:0px;}
.main_button_tri2{border-bottom: 25px solid #9ba2cf;
    border-left: 25px solid transparent;  position:absolute;
   right:0; bottom:0;}
.button p{font-size:20px; font-weight: 700; color:#c252e1; z-index: 3;
transition:0.3s ease;}
.button::before{
    content:'';
    width:275px; height: 85px; background-color: #c252e1;
    transition:0.3s ease;
transform: translateX(-290px) skew(-45deg);position:absolute; }
.button:hover::before{transform: translateX(0px)skew(-45deg);}
.button:hover >p{color:#fff;}

.ps{width:100px; height: 60px; margin:1%;
display: flex; align-items: center; justify-content: center;}
.ps_box{display: flex; width:100%;}
.ps img{width:90px;}
#ps2{width:70px;}
.head_icon_box{width:280px; height: 35px; 
display: flex; justify-content: space-around;}
.head_icon{width:30px; height: 30px;
    display: flex; align-items: center; justify-content: center; cursor:pointer;
      }
.head_icon img{   transition:0.5s ease;}
.head_icon:hover >img{transform: scale(1.3);}




section{width:100%; height: 870px; background-color: #f2f3f5;margin:0 auto;
display: flex; flex-direction: column; justify-content: center; align-items: center;
position: relative; background-image: url(../img/back3.png);
background-repeat: no-repeat; background-size:100%, 100%;}
.sec_tri{position: absolute; width:0; height: 0; border-bottom: 60px solid #f2f3f5;
border-left: 60px solid transparent; top:-50px; right:0;}

.sec_text{width:900px; height: 200px; }
.sec_text p{font-size: 20px; text-align: center;}
.sec_text h1{font-size: 40px; font-family: 'Titillium Web';text-align: center;}


.sec_button{width:300px; height: 70px; background-color: darkolivegreen;}
.icon_box{width:1100px; display: flex; justify-content: space-between;}
.icon{width:300px; height: 300px; display: flex;
flex-direction: column; justify-content: space-evenly; align-items: center; }
.icon img{width:100px;}
.icon h2{ font-family: 'Quicksand'; font-size: 20px; text-align: center;}
.icon p{font-size: 15px; text-align: center;}



.android{width:100%; height: 660px; 
    margin:0 auto; display: flex; justify-content: center; position:relative;}
    .and_box{width:1189px; display: flex; justify-content: space-between;
    align-items: flex-end;}
.android_box{width:500px; height: 660px; 
display:flex; justify-content: center; align-items: center; flex-direction: column;}
.and_img{width:500px; height: 773px; background-image: url(../img/ch.png);
background-repeat: no-repeat; background-size: 312px;}

.android_text{width:420px; height: 300px; ;}
.and_box>h1{position:absolute; z-index: -1; font-size: 200px; top:-26px; color:#eee;}
.android_text span{background-color: #000; color:#fff; padding:5px;
    font-family: 'Quicksand'}
    .android_text h1{font-size: 50px; line-height: 50px; margin:15px 0;}


.android_button{width:350px; height: 70px; background-color: #c252e1; position:relative;
display: flex; align-items: center; justify-content: center; overflow: hidden; cursor:pointer;}
.android_button p{z-index: 3; font-size: 20px; font-weight: 700;transition:0.3s ease;}
.android_button::before{
    content:'';
    width:385px; height: 70px; background-color: #2a2356;
    transition:0.3s ease;
transform: translateX(-420px) skew(-30deg);position:absolute; }
.android_button:hover::before{transform: translateX(-10px)skew(-30deg);}
.android_button:hover >p{color:#fff;}


.and_tri{position: absolute; width:0; height: 0; border-bottom: 60px solid white;
    border-right: 60px solid transparent; top:-60px; left:0;}
.and_tri1{border-top: 20px solid white;
    border-right: 20px solid transparent;  position:absolute;
    top:0px; left:0px;}
.and_tri2{border-bottom: 20px solid white;
    border-left: 20px solid transparent;  position:absolute;
   right:0; bottom:0;}




article{width:100%; height: 815px; background-color: #2a2356; margin:0 auto;
display: flex; justify-content: center;}
.art_box{width:1200px;display: flex;height: 100%;
align-items: center; justify-content: space-around;
flex-wrap: wrap;}
.art_button{width:432px; height:400px;position:relative;
    display: flex; justify-content: center; border:2px solid #c252e1;}
.art_button_tri{width:40px; height: 44px; background-color: #2a2356; position:absolute;
    top:-22px; left:-21px; transform: rotate(45deg); border-right: 2px solid #c252e1;}


    .art_button li{height:60px; font-size: 20px; position:relative;
z-index: 3; color:#fff; cursor: pointer;} 
.art_button span{display:block; background-color: #b495bd;
width:392px; height:40px; position:absolute; top:80px; border-radius: 20px;}
.on{color:#000000; transition:0.5s ease;}
.art_button ul{margin-top:80px;}
.art_button ul li{ font-weight: 700;
    line-height: 40px;    }
 


.art_image{width:731px; height:600px;}
.art_box_text{width:1133px; height: 200px; 
 display: flex; flex-direction: column; align-items: flex-start;
justify-content: flex-end;}
.art_box_text h1{font-size: 40px; line-height: 40px; margin:20px 0 10px 0;
color:#fff;}
.art_box_text span{background-color: #c252e1; color:#fff; padding:5px;}



.art_text{width:600px; height: 200px; }
.art_text2{width:700px; height: 200px; }

.art_img{width:100%; height: 800px; align-items: center;
   margin:0 auto; 
     position:relative; display: flex; justify-content: center; position:relative;
     }

  .art_img h1{position:absolute; font-size: 170px; z-index: -1; top: -44px;
color:#35568f;} 

.art_img1{width:350px;height: 600px; 
display: flex; flex-direction: column; justify-content:space-evenly;}
.img1_1{width:350px; height:280px; position:relative; }

.img2_22{width:480px; height:280px; display: flex; justify-content: space-between;}
.art_img2{width: 500px; height:600px; 
display: flex; flex-direction: column; justify-content:space-evenly;
align-items: center;}
.img2_1{width:230px; height: 280px; position:relative;}
.img2_2{width:480px; height: 280px; position:relative;}

.art_img3{width: 350px; height: 600px; 
    display: flex; flex-direction: column; justify-content:space-evenly;}
.img3_1{width:330px; height:280px;position:relative; }
.img_icon{position:absolute; position:absolute;
top:45%; right:40%; opacity: 0;}

.img2_1::after{
    content: "";
    width:50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    bottom:-45px;
    right:-45px;
    border-radius: 50%;
    transform: scale(5);
    transition:1s ease;
}
.img2_1:hover ::after{transform: scale(16);}

.img2_1.scale ::after{transform: scale(16);}

.img2_1:hover .img_icon{opacity: 1;}

.aa{background-image: url(../img/1.jpeg); background-size: cover;
background-position: center;}
.bb{background-image: url(../img/2.jpeg); background-size: cover;
    background-position: center;}
.cc{background-image: url(../img/8.jpg); background-size: cover;
        background-position: center;}
.dd{background-image: url(../img/7.jpeg); background-size: cover;
            background-position: center;}
.ee{background-image: url(../img/6.jpeg); background-size: cover;
                background-position: center;}
.ff{background-image: url(../img/3.jpeg); background-size: cover;
                    background-position: center;}
.gg{background-image: url(../img/4.jpeg); background-size: cover;
    background-position: center;}




#ab1{position:absolute; animation : circle 10s linear infinite;
  }

#ab2{position:absolute;  animation : circle2 7s infinite alternate;
}

#ab3{position:absolute; animation : circle3 11s infinite alternate;
 }



.art_circle{width:500px; height: 500px;
position:absolute; top:60%; right:60%; z-index: -1;}
.circle_box{top:50%; left:50%; transform: translate(-50%,-50%);}
.circle_box [class='ab']{top:50%; left:50%; transform: translate(-50%,-50%);}











   
.art_img_box{width:600px; height: 1000px; background-color: rgb(122, 107, 48);}
.art_text3{width:600px; height: 600px; background-color: #74dfe7;}
.art_img_box2{width:100%; height:500px; background-color:#eee;
background-image: url(../img/img4.jpg); background-size: cover;
background-position: 50%; position:relative;}
.art_img_tri{border-top: 40px solid #2a2356;
    border-right: 40px solid transparent;  position:absolute;
    top:0px; left:0px;}




.news{width:100%; height: 1300px; background-color: #e0d9f6; margin:0 auto;
 display: flex; align-items: center; flex-direction: column; position:relative;}
.news_box{display: flex; width:100%; justify-content: center;}
.news_box2{display: flex; width:784px; flex-wrap: wrap; }


.h2_div{height:250px; display: flex; align-items: center;}
.h2_box h1{font-size: 50px;}
.h2_box{width:1200px;}
.news1{width:400px; height: 500px; background-color: white;
display: flex; justify-content: center; align-items: center; flex-direction: column;
position:relative;}
.news1_img{width:390px; height: 350px;}
.news1_text{width:400px; height: 110px; transition:0.3s ease;
display: flex; flex-direction: column; justify-content: center; align-items: center;}
.news1_text h3{font-family: 'Quicksand'; font-size: 20px;}
.news1_text p{font-size: 13px;}
.new_tri{border-bottom: 60px solid #e0d9f6;
    border-left: 60px solid transparent;  position:absolute;
   top:-60px; right:0;}

.news2{width:350px; height: 227px; background-color: white;
     margin:0 13px 47px 28px; display: flex; flex-direction: column;
    justify-content: center; align-items: center; position:relative;}
.tri_box1{width:40px; height: 40px; background-color: #e0d9f6; position:absolute;
    top:-18px; left:-20px; transform: rotate(45deg); border-right: 5px solid white;}

.news2_img{width:342px; height: 142px; }
.news2_text{width:350px; height: 47px; 
display: flex; align-items: center; justify-content: center;}
.news2_text p{font-size: 18px; text-align: center;  transition:0.3s ease;}
.news2_tri{width:40px; height: 44px; background-color: #e0d9f6; position:absolute;
top:-19px; left:-19px; transform: rotate(45deg); border-right: 4px solid white; }
.new_box{width:100%; height: 30px; display: flex;
align-items: flex-end;}
.new_box span{background-color: #c252e1; padding:2px;}

.news2:hover .news2_text p{color:#c252e1;}
.news1:hover .news1_text{color:#c252e1;}

.n1{background-image: url(../img/news1.jpg); background-size: cover; background-position: 50%;}
.n2{background-image: url(../img/news2.jpg); background-size: cover; }
.n3{background-image: url(../img/news3.jpg); background-size: cover; }
.n4{background-image: url(../img/news1.jpg); background-size: cover; }
.n5{background-image: url(../img/news5.jpg); background-size: cover; }

.stay{width:1200px; height: 400px; background-color: #2a2356;
display: flex;justify-content: space-between; align-items: center;
position:relative;}
.stay_icon_box{width:100px; height: 350px;
display: flex; flex-direction: column; justify-content: space-evenly;
align-items: center;}
.stay_icon{width:50px; height: 40px;
display: flex; align-items: center; justify-content: center;}
.stay_icon img{   transition:0.5s ease;}
.stay_icon:hover >img{transform: scale(1.3); cursor:pointer;}



.stay_text{width:500px; height: 274px; }
.stay_text h1{font-size: 40px; color:#fff;}
.stay_text p{font-size: 18px; margin-top:5%; color:#fff;}
.email{width:500px; height: 256px;}
.email p{margin:5% 0; color:#fff;}
.email span{color:#fff;}

.email_input{width:400px; height: 55px; background-color: #3d4474;
display: flex; justify-content: flex-end; position:relative;}
.input_tri{border-top: 15px solid #2a2356;
    border-right: 15px solid transparent;  position:absolute;
    top:0px; left:0px;}
.input_tri1{border-bottom: 15px solid #2a2356;
    border-left: 15px solid transparent;  position:absolute;
   right:0; bottom:0;}

.stay_text_tri1{border-top: 40px solid #e0d9f6;
    border-right: 40px solid transparent;  position:absolute;
    top:0px; left:0px;}
    .stay_text_tri2{border-bottom: 40px solid #e0d9f6;
        border-left: 40px solid transparent;  position:absolute;
       right:0; bottom:0;}

#input1{width:370px; height: 55px; background-color: #3d4474; border:none;
font-size: 20px; color:#eee;}
#input2{width:14px; height: 14px; border:#c252e1; background-color: #c252e1;}
#input3{width:150px;height: 40px; margin-top:5%; background-color:#3d4474; border:none;
cursor:pointer;}


footer{width:100%; height: 460px; background-color: #17161b; margin:0 auto;
display:flex; flex-direction: column; align-items: center;}
.steam{width:915px; height: 150px; align-items: center;
display: flex; justify-content: space-evenly;}
.steam_iicon{width:150px; height:30px;}
.steam_iicon img{width:120px;}

.footer_text{width:1200px; height:200px;
display: flex; align-items: center; justify-content: space-around;}
.esrb{width:150px; height: 200px; }
.footer_text p{width:72%; color:#999;}


.footer_bar{width:1150px; height:2px; background-color:#333;}
.footer_menu{width:1200px; height:100px; 
display: flex; justify-content: space-between;}
.footer_menu_box ul{display: flex;}
.footer_menu_box{display: flex; align-items: center;}
.footer_menu_box li{padding:10px;}
.footer_menu_box li a{color:#999; font-size: 14px;}

.logo2{width:80px; height:90px; 
justify-content: center; align-items: center; display: flex;}
.logo2 img{width:35px;}

.footer_icon{width:200px; height:100px; display: flex; align-items: center;
    justify-content: space-evenly;} 
    .footer_icon img{width:20px;}


    @keyframes circle {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);} 
    }
    @keyframes circle2{
        0%{transform: rotate(0);}
        30%{transform: rotate(200deg);}
        100%{transform: rotate(360deg);}
    }

    @keyframes circle3{
        0%{transform: rotate(0);}
        35%{transform: rotate(360deg)scale(1);}
        40%{transform: rotate(360deg)scale(0.8);}
        60%{transform: rotate(400deg)scale(0.8);}
        100%{transform: rotate(360deg)scale(1);}
    }

    @keyframes light1{
        0%{opacity: 0;}
       50%{opacity: 1;}
       100%{opacity: 0;}
    }

    @keyframes light2{
        0%{opacity: 0;}
        30%{opacity: 0.5;}
        50%{opacity: 1;}
        80%{opacity: 0.5;}
        100%{opacity: 0;}
    }